body{
  padding: 0%;
  margin: 0%;
}
.sidebarmenu{
  font-size: 20px;
}
.text-wrapper-battle {
  width: 12ch !important; /* 5 characters wide */
  white-space: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
